name: tox-pytest

on: [push, pull_request]

jobs:
  ci-test:
    name: ci-test ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
      fail-fast: false
    env:
      ETB_AZURE_SAS_TOKEN: ${{ secrets.ETB_AZURE_SAS_TOKEN }}
      ETB_AZURE_ACCOUNT_NAME: ${{ secrets.ETB_AZURE_ACCOUNT_NAME }}
    steps:
      # Setup to use Azure CLI for authentication with a service principal
      # https://github.com/Azure/login?tab=readme-ov-file#login-with-a-service-principal-secret
      - name: Azure CLI login
        if: ${{ env.ETB_AZURE_SAS_TOKEN == 'use_azure_cli'}}
        uses: azure/login@v2
        with:
          creds: '{"clientId":"${{ secrets.AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_CLIENT_SECRET }}","subscriptionId":"${{ secrets.AZURE_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.AZURE_TENANT_ID }}"}'
          enable-AzPSSession: true
      - name: Azure account info Ubuntu
        if: ${{ env.ETB_AZURE_SAS_TOKEN == 'use_azure_cli' && matrix.os == 'ubuntu-latest'}}
        uses: azure/cli@v2
        with:
          azcliversion: latest
          inlineScript: |
            az account show
      - name: Azure account info Windows
        if: ${{ env.ETB_AZURE_SAS_TOKEN == 'use_azure_cli' && matrix.os == 'windows-latest'}}
        uses: azure/powershell@v2
        with:
          azPSVersion: "latest"
          inlineScript: |
            Get-AzContext

      - uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: uv tool install tox --with tox-uv

      - name: test with tox
        run: tox

      - name: build package
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: uv build
      - name: upload package
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/upload-artifact@v5
        with:
          name: etoolbox-packages
          path: dist/*

      - name: Upload coverage data
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v5
        with:
          name: coverage-data
          path: .coverage*
          include-hidden-files: true
          if-no-files-found: ignore

  coverage:
    name: Ensure 80% test coverage
    runs-on: ubuntu-latest
    needs: ci-test
    if: always()

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Download coverage data
        uses: actions/download-artifact@v6
        with:
          name: coverage-data

      - name: Report coverage and fail if it's <80%.
        run: |
          uv tool install coverage

          coverage html --skip-covered --skip-empty

          # Report and write to summary.
          coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

          # Report again and fail if under 80%.
          coverage report --fail-under=80

      - name: Upload HTML report if check failed.
        uses: actions/upload-artifact@v5
        with:
          name: html-report
          path: htmlcov
        if: ${{ failure() }}

  collector:
    needs: [ci-test]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: check for failures
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: echo job failed && exit 1
